# Python libraries
numpy
pandas
scipy
matplotlib
seaborn
plotly
scikit-learn
xgboost
lightgbm
imblearn
tensorflow
torch
torchvision
torchaudio
pyyaml
jsonschema
notebook
jupyterlab
ipykernel
tqdm
joblib
kaggle
pyarrow
fastparquet